.sidebar {
  position: relative;
  height: calc(100vh - var(--header-height));
  max-width: var(--sidebar-width);
  width: 100%;
  transition: max-width 0.2s ease-in-out;
  padding: 40px 39px;
}

.icon {
  fill: var(--primary-color);
  transform: rotate(180deg);
}

.light {
  border-right: 1px solid var(--bg-secondary);
}

.dark {
  border-top: 1px solid var(--bg-primary);
  background-color: var(--bg-secondary);
}

.themeSwither {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  position: absolute;
  bottom: 10px;
  padding: 10px;
  right: 0;
  transform: translateX(100%);
}

.button.light {
  border: 1px solid var(--bg-secondary);
  background-color: transparent;
  border-left: none;
}

.button.dark {
  background-color: var(--bg-secondary);
}

.menu {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.appLink {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.itemText {
  margin: 0;
  transition: opacity 0.2s linear 0.3s;
}

.collapsed {
  max-width: var(--sidebar-collapsed);

  .icon {
    transform: rotate(0);
  }

  .itemText {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s linear 0s;
  }

  .itemIcon {
    height: 30px;
    width: 30px;
  }
}
