.sidebar {
  height: calc(100vh - var(--navbar-height));
  max-width: var(--sidebar-width);
  width: 100%;

  transition: max-width .2s ease-in-out;
  padding: 0 10px;
}

.collapsed {
  max-width: var(--sidebar-collapsed);
}

.light {
  border-right: 1px solid var(--bg-secondary);
}

.dark {
  border-top: 1px solid var(--bg-primary);
  background-color: var(--bg-secondary);
}