.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 20px;
  z-index: var(--header-z-index);
}

.light_theme {
  border-bottom: 1px solid var(--bg-secondary);
  background-color: var(--bg-primary);
}

.dark_theme {
  background-color: var(--bg-secondary);
}
