.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--header-height);
  padding: 0 20px;
}

.light {
  border-bottom: 1px solid var(--bg-secondary);
}

.dark {
  background-color: var(--bg-secondary);
}
